<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Currency Converter</title>
</head>
<body>
<h2 style="color:purple"><center>CURRENCY CONVERTER</center></h2>
<table  style="background-color:black;color:black" width="500">
    
<center><h2>Value to convert</h2>
<form action="" method="POST">
<input type="text" name="amount" required placeholder="value to convert" autofocus><br><br>

<label >FROM:
  <select name="item">
      <option value="">Select</option>
    <option value="apple">Apple</option>
    <option value="banana">Banana</option>
  </select>
</label>

    <br><br>
<input type="submit" value="submit">
</center>
    


</table>
</body>
</html>